# Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [2]:
df = pd.read_csv("BA_reviews.csv")

# Veri Düzenleme

In [3]:
df

     Unnamed: 0                                            reviews
0             0  ✅ Trip Verified | Despite boarding being the u...
1             1  Not Verified |  Flight cancelled, no crew! 9th...
2             2  Not Verified |  The worst service ever, my bag...
3             3  ✅ Trip Verified |  4/4 flights we booked this ...
4             4  ✅ Trip Verified |  British Airways has a total...
..          ...                                                ...
995         995  ✅ Trip Verified |  London to Boston. I was sea...
996         996  ✅ Trip Verified | Stockholm to London. Standar...
997         997  ✅ Trip Verified |  Amsterdam to London arrived...
998         998  ✅ Trip Verified |  Buenos Aires to London. We ...
999         999  ✅ Trip Verified |  Business Class space is rid...

[1000 rows x 2 columns]

In [4]:
df.columns = ["Index", "Onay_Durumu_ve_Yorum"]

In [5]:
df

     Index                               Onay_Durumu_ve_Yorum
0        0  ✅ Trip Verified | Despite boarding being the u...
1        1  Not Verified |  Flight cancelled, no crew! 9th...
2        2  Not Verified |  The worst service ever, my bag...
3        3  ✅ Trip Verified |  4/4 flights we booked this ...
4        4  ✅ Trip Verified |  British Airways has a total...
..     ...                                                ...
995    995  ✅ Trip Verified |  London to Boston. I was sea...
996    996  ✅ Trip Verified | Stockholm to London. Standar...
997    997  ✅ Trip Verified |  Amsterdam to London arrived...
998    998  ✅ Trip Verified |  Buenos Aires to London. We ...
999    999  ✅ Trip Verified |  Business Class space is rid...

[1000 rows x 2 columns]

In [6]:
df[['Onay_Durumu', 'Yorum']] = df['Onay_Durumu_ve_Yorum'].str.split('|', expand=True)

In [7]:
df = df.drop(columns=['Onay_Durumu_ve_Yorum'])

In [8]:
df = df.drop(columns=['Index'])

In [9]:
df.head()

        Onay_Durumu                                              Yorum
0  ✅ Trip Verified    Despite boarding being the usual free for all...
1     Not Verified     Flight cancelled, no crew! 9th September 202...
2     Not Verified     The worst service ever, my baggage did not a...
3  ✅ Trip Verified     4/4 flights we booked this holiday were dela...
4  ✅ Trip Verified     British Airways has a total lack of respect ...

In [10]:
df["Onay_Durumu"] = df["Onay_Durumu"].str.replace("✅", "").str.strip()

In [11]:
df

       Onay_Durumu                                              Yorum
0    Trip Verified   Despite boarding being the usual free for all...
1     Not Verified    Flight cancelled, no crew! 9th September 202...
2     Not Verified    The worst service ever, my baggage did not a...
3    Trip Verified    4/4 flights we booked this holiday were dela...
4    Trip Verified    British Airways has a total lack of respect ...
..             ...                                                ...
995  Trip Verified    London to Boston. I was seated next to a cus...
996  Trip Verified   Stockholm to London. Standard configuration o...
997  Trip Verified    Amsterdam to London arrived 33 minutes late ...
998  Trip Verified    Buenos Aires to London. We flew overnight Fr...
999  Trip Verified    Business Class space is ridiculously narrow....

[1000 rows x 2 columns]

# Yorum Analizi

In [12]:
from textblob import TextBlob

In [13]:
def sentiment_analysis(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity > 0.0:
        return "iyi"
    elif analysis.sentiment.polarity < 0.0:
        return "kötü"
    else:
        return "nötr"

In [14]:
df["Yorum_Tipi"] = df["Yorum"].apply(sentiment_analysis)

In [15]:
df

,Onay_Durumu,Yorum,Yorum_Tipi
0,Trip Verified,Despite boarding being the usual free for all...,iyi
1,Not Verified,"Flight cancelled, no crew! 9th September 202...",kötü
2,Not Verified,"The worst service ever, my baggage did not a...",kötü
3,Trip Verified,4/4 flights we booked this holiday were dela...,kötü
4,Trip Verified,British Airways has a total lack of respect ...,kötü
...,...,...,...
995,Trip Verified,London to Boston. I was seated next to a cus...,iyi
996,Trip Verified,Stockholm to London. Standard configuration o...,iyi
997,Trip Verified,Amsterdam to London arrived 33 minutes late ...,iyi
998,Trip Verified,Buenos Aires to London. We flew overnight Fr...,kötü
999,Trip Verified,Business Class space is ridiculously narrow....,kötü

In [17]:
df.isna().sum().sum()

0

In [ ]:
yorum_sayilari = df['Yorum_Tipi'].value_counts()

# Bar grafiğini oluşturun
plt.figure(figsize=(10,6))
plt.bar(yorum_sayilari.index, yorum_sayilari.values)

plt.title('Yorum Tiplerine Göre Sayılar')
plt.ylabel('Sayı', fontsize=12)
plt.xlabel('Yorum Tipi', fontsize=12)

plt.show()