# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [3]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified | Despite boarding being the u...
1  Not Verified |  Flight cancelled, no crew! 9th...
2  Not Verified |  The worst service ever, my bag...
3  ✅ Trip Verified |  4/4 flights we booked this ...
4  ✅ Trip Verified |  British Airways has a total...

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [4]:
route_list = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # BeautifulSoup nesnesi oluşturun
    soup = BeautifulSoup(response.text, 'html.parser')

    # Her bir inceleme için 'route' bilgisini buluyoruz
    for review in soup.find_all('article', {'itemprop': 'review'}):
        route_info = review.find('table', {'class': 'review-ratings'}).find('td', text='Route')
        if route_info:
            route_value = route_info.find_next_sibling('td').text
        else:
            route_value = np.nan  # Eğer 'route' bilgisi yoksa, NaN ekliyoruz
        route_list.append(route_value)
    
    print(f"   ---> {len(route_list)} total routes")

Scraping page 1
   ---> 100 total routes
Scraping page 2
   ---> 200 total routes
Scraping page 3
   ---> 300 total routes
Scraping page 4
   ---> 400 total routes
Scraping page 5
   ---> 500 total routes
Scraping page 6
   ---> 600 total routes
Scraping page 7
   ---> 700 total routes
Scraping page 8
   ---> 800 total routes
Scraping page 9
   ---> 900 total routes
Scraping page 10
   ---> 1000 total routes

In [5]:
# Veriyi bir pandas DataFrame'ine dönüştürüyoruz
df["Rota"] = route_list

In [6]:
df

,reviews,Rota
0,✅ Trip Verified | Despite boarding being the u...,London to Santiago
1,"Not Verified | Flight cancelled, no crew! 9th...",London Heathrow to Faro
2,"Not Verified | The worst service ever, my bag...",Kuwait to Lisbon via London
3,✅ Trip Verified | 4/4 flights we booked this ...,London to Munich
4,✅ Trip Verified | British Airways has a total...,Frankfurt to London City
...,...,...
995,✅ Trip Verified | London to Boston. I was sea...,London to Boston
996,✅ Trip Verified | Stockholm to London. Standar...,Stockholm to London
997,✅ Trip Verified | Amsterdam to London arrived...,Amsterdam to London
998,✅ Trip Verified | Buenos Aires to London. We ...,Buenos Aires to London
999,✅ Trip Verified | Business Class space is rid...,Riyadh to London

In [7]:
seat_list = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # BeautifulSoup nesnesi oluşturun
    soup = BeautifulSoup(response.text, 'html.parser')

    # Her bir inceleme için 'seat' bilgisini buluyoruz
    for review in soup.find_all('article', {'itemprop': 'review'}):
        seat_info = review.find('table', {'class': 'review-ratings'}).find('td', text='Seat Type')
        if seat_info:
            seat_value = seat_info.find_next_sibling('td').text
        else:
            seat_value = np.nan  # Eğer 'seat' bilgisi yoksa, NaN ekliyoruz
        seat_list.append(seat_value)
    
    print(f"   ---> {len(seat_list)} total routes")

Scraping page 1
   ---> 100 total routes
Scraping page 2
   ---> 200 total routes
Scraping page 3
   ---> 300 total routes
Scraping page 4
   ---> 400 total routes
Scraping page 5
   ---> 500 total routes
Scraping page 6
   ---> 600 total routes
Scraping page 7
   ---> 700 total routes
Scraping page 8
   ---> 800 total routes
Scraping page 9
   ---> 900 total routes
Scraping page 10
   ---> 1000 total routes

In [8]:
# Veriyi bir pandas DataFrame'ine dönüştürüyoruz
df["Seat_Type"] = seat_list

In [9]:
df

,reviews,Rota,Seat_Type
0,✅ Trip Verified | Despite boarding being the u...,London to Santiago,Business Class
1,"Not Verified | Flight cancelled, no crew! 9th...",London Heathrow to Faro,Business Class
2,"Not Verified | The worst service ever, my bag...",Kuwait to Lisbon via London,Economy Class
3,✅ Trip Verified | 4/4 flights we booked this ...,London to Munich,Economy Class
4,✅ Trip Verified | British Airways has a total...,Frankfurt to London City,Economy Class
...,...,...,...
995,✅ Trip Verified | London to Boston. I was sea...,London to Boston,Economy Class
996,✅ Trip Verified | Stockholm to London. Standar...,Stockholm to London,Business Class
997,✅ Trip Verified | Amsterdam to London arrived...,Amsterdam to London,Economy Class
998,✅ Trip Verified | Buenos Aires to London. We ...,Buenos Aires to London,Economy Class
999,✅ Trip Verified | Business Class space is rid...,Riyadh to London,Business Class

In [10]:
df.to_csv("BA_DataSet.csv")